p{
font-size:14px;
}

a, a.color1, a.color2{
font-size:14px;
}

a.color2, .color2, .color2 a, .color2 span{
color:#8c6239;}

#head #searh input[type="text"]{
font-size:12px;
}

#centerR p.zagolovok, p.zagolovok{
font-size:18px;
}

#left ul.left li a, #left .year a{
font-size:14px !important;
}

#left ul.left li a.two{
line-height:18px;
height:36px;
}

#centerL {
	margin-top:0px;
}

#centerR a.rss{
font-size:10pt;
}

#centerR ul.news li a{
font-size:14px;
}
#centerR ul.news li p{
font-size:14px;
}

#centerR .news a.allnews{
font-size:10pt;
}

#centerR ul.news li span, #centerLR ul.news li span{
font-size:9pt;
}

#centerR ul.main li a{
line-height:20px;}

#centerR ul.main li a.bold{
font-size:16px;
}


#centerR .mainarea{
height:240px;
}

#centerR ul.read li{
height:130px;}

#centerR ul.read li p{
font-size:12px;}

#centerL .text .fright{
font-size:9pt;
}

.headR a{
font-size:11pt;
}

#right .time{
font-size:10pt;}

#right .time a{
font-size:9pt;
}

#right .newsform p{
font-size:11pt;
}

#right .newsform table{
width:226px;
margin-left:5px;
}

#right .newsform table td.one{
font-size:11px;
}

#right .newsform table input[type="text"]{
font-size:9pt;
}

#right #info ul li a{
font-size:10pt;}

#left ul.left li a{
font-size:9pt;
}

#centerL .text p{
font-size:10pt;
}

#centerL ul.rubrik a{
font-size:9pt;}

.tree ul li a{
font-size:9pt;
}


#centerL ul.list li{
font-size:9pt;
}

#centerL ul.list a{
font-size:9pt;
}

#centerL .text p.zag, p.zag{
font-size:11pt;
}
#centerL .text .infoPublic a{
font-size:9pt;
}

.sd p.sdl a.name, .sd p.sdl a.list{
font-size:9pt;
}

.dopmaterials a{
font-size:10pt;
}

.pages a, .pages span.tochka{
font-size:9pt;
}

.text ul.authors a{
font-size:10pt;
}

p.nameauthor a{
font-size:11pt;
}

.dopmaterials ul.book li{
font-size:10pt;
}

#centerL .text .dopmaterials table td{
font-size:10pt;
}

.catalog a{
font-size:10pt;
}

.setting div p{
font-size:11px;
}

.bredcrumbs a{
font-size:8pt;
}

.bredcrumbs span.end{
font-size:8pt;
}

.endmenu ul li a{
font-size:14px;
}

.endmenu ul li a.bold{
font-size:16px;
}

.footer p{
font-size:10pt;
}
