p{
font-size:16px;
}

a, a.color1, a.color2{
font-size:16px;
}

#head #searh input[type="text"]{
font-size:13px;
}

#left ul.left li a, #left .year a{
font-size:15px !important;
}

#left ul.left{
margin-top:4px;
}

#centerL {
	margin-top:2px;
}

#centerR p.zagolovok, p.zagolovok{
font-size:20px;
}

#centerR a.rss{
font-size:11pt;
}

#centerR .news{
margin-bottom:26px;
}

#centerR ul.news li span, #centerLR ul.news li span{
font-size:10pt;
}

#centerR ul.news li a{
font-size:16px;
}
#centerR ul.news li p{
font-size:16px;
}

#centerR .news a.allnews{
font-size:11pt;
}


#centerR ul.main li a.bold{
font-size:18px;
}

#centerR .mainarea{
height:270px;
}

#centerR ul.main li a{
line-height:20px;}

#centerR ul.read li{
height:180px;
}

#centerL .text p.zag, p.zag{
font-size:12pt;
}

#centerR ul.read li p{
font-size:14px;}

#centerL .text .infoPublic a{
font-size:10pt;
}

#centerL .text .fright{
font-size:10pt;
}

.sd p.sdl a.name, .sd p.sdl a.list{
font-size:10pt;
}

.dopmaterials a{
font-size:11pt;
}


.text ul.authors a{
font-size:11pt;
}

p.nameauthor a{
font-size:12pt;
}

.dopmaterials ul.book li{
font-size:11pt;
}

#centerL .text .dopmaterials table td{
font-size:12pt;
}

.catalog, .catalog a{
font-size:11pt;
}

.setting div p{
font-size:11px;
}


.headR a{
font-size:12pt;
}

#right .time{
font-size:10pt;}

#right .time a{
font-size:9pt;
}

#right .newsform p{
font-size:11pt;
}

#right .newsform table{
width:226px;
margin-left:5px;
}

#right .newsform table td.one{
font-size:11px;
}

#right .newsform table input[type="text"]{
font-size:9pt;
}

#right #info ul li a{
font-size:10pt;}


#left ul.left li a{
font-size:10pt;
}

#centerL .text p{
font-size:11pt;
}

#centerL ul.rubrik a{
font-size:10pt;}

.tree ul li a{
font-size:10pt;
}


#centerL ul.list li{
font-size:10pt;
line-height:18px;
}

#centerL ul.list a{
font-size:10pt;
}

.pages a, .pages span.tochka{
font-size:10pt;
}

.bredcrumbs a{
font-size:9pt;
}
.bredcrumbs span.end{
font-size:9pt;
}


.endmenu ul li a{
font-size:16px;
}

.endmenu ul li a.bold{
font-size:18px;
}

.footer p{
font-size:11pt;
}
