/* Dialog
----------------------------------*/
.ui-dialog .ui-dialog-titlebar { padding: .5em 3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin:0 0 0.2em; } 
.ui-dialog .ui-dialog-titlebar-close { height:18px;margin:-9px 0 0;padding:0;position:absolute;right:1px;top:50%;width:19px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0;border:0 }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1;}
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .5em 0.5em .3em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { position:absolute;width: 14px; height: 14px; right: 3px; bottom: 3px; cursor: se-resize; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-dialog input.full {	width:97%; }

#validateTips {
	padding:5px;
}