html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, dd, dl, dt, li, ol, ul, table, caption, tbody, tfoot, thead, tr, th, td {
background-position:0 0;
background-repeat:no-repeat;
border:0 none;
margin:0;
padding:0;
text-align:left;
vertical-align:baseline;
}
a img, :link img, :visited img {
border:0 none;
}
table {
border-collapse:collapse;
border-spacing:0;
}
ol, ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

ol li, ul li{
font-size:13px;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


html, body {
  height: 100%;
}


body{
display:block;
overflow-y:scroll;}

.wrapper {

  min-height: 100%;

  height: auto !important;

  height: 100%;

  margin: 0 auto -58px;
  width:974px;
}

p{
font-size:13px;
}

a, a.color1, a.color2{
color:#007236;
text-decoration:none;
font-weight:bold;
font-size:13px;
}

a.color2, .color2, .color2 a, .color2 span{
color:#8c6239;}

a:hover, a.color1:hover, a.color2:hover, .color2:hover span{
text-decoration:underline;
color:#555555;
}


#head{
display:block;
position:relative;
height:112px;
width:974px;
border:0px solid #000000;
background:url(../images/head.jpg) left top no-repeat;}

#head .logo{
display:block;
margin:0 0 0 14px;
width:472px;
height:74px;
text-decoration:none;
background:url(../images/logo.png) left center no-repeat;}

#head .not{
font-weight:normal;
background:url(../images/logo_no_t.png) left center no-repeat;}

#head .not span{
display:block;
color:#FFFFFF;
padding-left:54px;
text-transform:uppercase;
width:370px;
border:0px solid #000000;
font-weight:normal;
}

#head .not span.main{
padding-top:15px;
font-size:22px;
font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
}

#head .not span.text{
font-size:10px;
padding-top:3px;
padding-left:55px;
letter-spacing:0.4em;
/*text-align:justify!important;*/
font-family:Arial, Helvetica, sans-serif;
}

#head .not span.text span{
display:block;
padding:0;
margin:0;
float:left;
border:0px solid #000000;
width:120px;
text-align:left;
}

#head .not span.text span.one{
width:120px;
}
#head .not span.text span.two{
width:142px;
}
#head .not span.text span.three{
width:90px;
}


/*------------- Form Search-----------------------*/
#head #searh{
display:block;
margin:34px 16px 10px 0;
float:right;
width:272px;
height:18px;
border:0px solid #000000;
}

#head #searh input[type="text"]{
display:block;
float:left;
border:0px;
margin:0px;
padding:0 40px 0 10px;
color:#999999;
width:222px;
height:18px;
line-height:19px;
font-size:11px;
border:0px solid #000000;
background:#FFFFFF;}

#head #searh input[type="text"]:focus{
padding:0 40px 0 2px;
width:230px;
}

#head #searh .subsearch{
display:block;
margin-top:-17px;
margin-right:14px;
float:right;
height:17px;
width:20px;
border:0;
background:url(../images/lup.png) left center no-repeat;
}

#head #searh .subsearch:hover{
cursor:pointer;
}

#head #searh a.fullsearch{
display:block;
margin-left:1px;
margin-top:-17px;
margin-right:2px;
float:right;
width:12px;
height:17px;
border:0px solid #000000;
background:url(../images/plus.png) left center no-repeat;}


#head #shript{
display:block;
position:absolute;
right:0px;
top:14px;
padding-right:12px;
border:0px solid #000000;
color:#acd1b2;
}

#head #shript a{
display:block;
width:118px;
color:#acd1b2;
font-size:12px;
text-align:right;
font-weight:normal;
text-decoration:none;
}

#head #shript a:hover div{
display:block;
/*padding-top:2px;*/
}

#head #shript a div{
display:none;
padding-top:2px;
width:121px;
height:65px;
background:url(../images/shript.png) left top no-repeat;
}

#head #shript a div button{
display:block;
margin-left:10px;
padding-left:20px;
/*width:116px;*/
width:106px;
border:0px;
text-align:left;
color:#007236;
font-size:8pt;
height:20px;
border:0px solid #000000;
background:url(../images/shript-check-null.png) left center no-repeat;}

#head #shript a div button.average{
font-size:9pt;
}
#head #shript a div button.big{
font-size:11pt;
}

#head #shript a div button[action="act"]{
background:url(../images/shript-check-act.png) left center no-repeat;
}

#head #shript a div button:hover{
cursor:pointer;
}

#head ul{
margin:4px 0 0 4px;
padding:0;
border:0px solid #000000;
list-style-type:none;}

#head li{
display:block;
float:left;
padding:0px 14px 0 14px;
border:0px solid #000000;
background:url(../images/menu-line.png) right center no-repeat;
height:34px;
line-height:34px;
}

#head li.start{
padding-left:10px;
}


#head li a{
/*display:block;*/
/*padding:0 14px 0 0;*/
padding:0;
float:left;
color:#444444;
font-size:13px;
text-transform:uppercase;
font-weight:bold;
text-decoration:none;
/*height:34px;
line-height:36px;*/
border:0px solid #000000;
font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
/*background:url(../images/menu-line.png) right center no-repeat;*/
}

#head li a.act, #head li a:hover{
color:#007236;
}
#head li a.act{
cursor:default;}

#head li a.start{
}

#head li.end{
background:none;
}


#containerR {
	position:relative; 
	display:block; 
    background:#fff;
	border-right:solid 250px #fff;
}

#innerR {
	display:block;
	position:relative;
	margin-right:-250px;
	padding:1px;
	margin-top:12px;
}

#right {
	float:right; 
	position:relative; 
	width:235px;
	right:0px;
	text-align:right;
}

#centerR {
	margin-right:250px;
	position:relative; 
	display:block;
	height:1%;
}

#centerR p.zagolovok, p.zagolovok, p.zagolovok a, p.zagolovok span{
text-transform:uppercase;
font-size:13px;
font-weight:bold;
font-family:Palatino Linotype;
border-bottom:1px solid #fff;
}

#centerL p.author{
margin-top:-4px;
text-transform:none;
}

#centerL p.vertical{
padding-top:0 !important;
}

#centerL p.author a{
font-weight:bold;
text-transform:none;
text-decoration:underline;}

#centerL p.author a span{
color:#000000;
}

#centerR a.rss, #centerLR a.rss{
display:block;
padding-left:16px;
float:right;
font-size:11px;
line-height:20px;
color:#000000;
font-weight:normal;
background:url(../images/rss.png) left center no-repeat;
}

#centerR ul.news, #centerLR ul.news{
margin:6px 0 6px 0;
border:0px solid #000000;}

#centerR ul.news{
margin:6px 0 16px 0;
}

#centerLR ul.news{
margin:0px 0 6px 0;

}

#centerLR ul.news li span.line{
color:#999999;
padding-top:1px;
}

#centerLR ul.news li span.time{
display:block;
float:none;
color:#999999;
}


#centerR ul.news li, #centerLR ul.news li{
padding:0 0 8px 0;
margin:0px;
}


#centerR ul.news li a{
font-weight:normal;
border:0px solid #000000;
text-decoration:underline;
}

#centerR ul.news li a, #centerLR ul.news li a{
line-height:18px;
padding-bottom:4px;
border:0px solid #000000;
}

#centerLR ul.news li a{
font-weight:normal;
text-decoration:underline;
}

#centerR ul.news li{
padding-bottom:0px;
min-height:18px;
border:0px solid #000033;
}

#centerR ul.news li span, #centerLR ul.news li span{
display:block;
float:left;
font-weight:normal;
font-size:13px;
padding-right:4px;
padding-top:2px;
/*padding:1px 2px 0px 0px;
margin:3px 4px 0 0;*/
}

#centerR ul.news li span.new{
font-weight:bold;
}

#centerR ul.news li span.new, #centerR ul.news li span.year{
background:none;
width:36px;
line-height:18px;
height:18px;
margin:0; padding:0;
padding-right:8px;
color:#999999;
}

#centerR ul.news li.two span.new, #centerR ul.news li.two span.year{
height:34px;
}


#centerR ul.news li.two{
height:34px;}

#centerR ul.news li.two a{
display:block;
padding-top:2px;
line-height:16px;
}


#centerR ul.news li p, #centerLR ul.news li p{
padding:2px 0 6px 0;
}

#centerR .line{
display:block;
height:1px;
	/*border-bottom:1px solid #e4e4e4;*/
background:url(../images/line2_.png)  left bottom repeat-x;
}

#centerR .mainarea{
display:block;
margin:16px 0 14px 0;
height:96px;
border:0px solid #000000;
}

#centerR ul.main{
float:left;
width:240px;
margin:0;
border:0px solid #000000;}

#centerR ul.main li{
line-height:16px;
padding-bottom:0px;
}

#centerR ul.main li a{
font-weight:normal;
text-decoration:underline;
font-family: Trebuchet MS;
}

#centerR ul.main li a.bold{
display:block;
padding:0 0 0 42px;
/*font-weight:bold;*/
margin-bottom:6px;
text-decoration:none;
/*text-transform:uppercase;*/
font-size:17px;
line-height:20px;
height:22px;
font-family: Trebuchet MS;
/*color:#555555;*/
border:0px solid #000000;
text-decoration:underline;
}


#centerR ul.main li a.sputnik{
background:url(../images/saturn.png) left center no-repeat;}

#centerR ul.main li a.bib{
background:url(../images/bookopen.png) left center no-repeat;}

#centerR ul.main li a.book{
padding-left:34px;
background:url(../images/book.png) left center no-repeat;}


#centerR ul.main li.text{
padding-left:0px;
padding-right:10px;}

#centerR ul.main li.text a{
color:#999999;
color:#555555;}

#centerR .read{
display:block;
margin:14px 0 12px 242px;
border:0px solid #000000;
}

#centerR ul.read {
margin:10px 0 6px 0;
padding:0;}

#centerR ul.read li{
display:block;
padding-bottom:4px;
width:480px;
min-height:92px;
border:0px solid #000000;
overflow:hidden;
}

#centerR ul.read li img{
float:left;
padding:2px 10px 4px 0;
width:66px;
}

#centerR ul.read li p{
padding:0 0 2px 80px;
}

#centerR ul.read li p.name{
color:#8c6239;
}
#centerR ul.read li p.name a{
font-weight:normal;
font-size:13px;
text-decoration:underline;
}

.blogCenter{
display:block;
width:238px;
float:left;
/*margin:14px 0 10px 0px;*/
margin:14px 0 0px 0px;
border:0px solid #000000;
}

.blogCenter ul{
padding:8px 0 10px 0;
}

.blogCenter ul li{
display:block;
padding:0 10px 12px 0;
text-align:left;
color:#000000;
line-height:16px;
border:0px solid #000000;
}

.blogCenter ul a{
font-weight:normal;
text-decoration:underline;
}

.blogCenter ul li a.act{
font-weight:bold
}

.blogCenter ul li span.time{
display:inline;
padding:0;
margin:0;
font-size:12px;
font-weight:bold;
color:#000000;
}

.blogCenter ul li a span{
font-style:italic;
}


#right #calendarj{
display:block;
margin:0 0 20px 0;
width:235px;
height:302px;
overflow:hidden;
border:0px solid  #000000;
background:url(../images/calendarj/back.png) left  bottom no-repeat;}

.headR{
display:block;
margin:8px;
padding:0px;
position:relative;
min-height:20px;
color:#007236;
font-family:Palatino Linotype;
text-align:left;
border:0px solid #000000; 
}

.headR a, .headR span, p.zagolovok a.cnt{
padding:0 12px 0 4px;
margin:0px;
color:#007236;
font-family:Palatino Linotype;
text-decoration:none;
text-transform:uppercase;
font-size:13px;
font-weight:bold;
border:0px solid #000000;
background:url(../images/calendarj/stelka.png) right center no-repeat;
}
p.zagolovok a.cnt{
padding-left:0;
}

p.zagolovok a.cnt span{
border-bottom:1px dotted #007236;}

.headR a span{
padding:0;
background:none;}

.headR a:hover{
text-decoration:underline;
}

#right .date{
/*margin-top:-2px;*/
font-size:12px;
border:0px solid #000000;
background:none!important;
}

#right .date[target="none"]{
display:none;
}

#right .date a:hover{
text-decoration:none;
}

#right .date .text a{
font-size:13px;}

#right .date .text a:hover{
color:#555555;
}


#right .person{
display:block;
margin:0px;
padding:0px;
text-align:center;
height:120px;
border:0px solid #000000;
background:none;}

#right .person img{
/*max-height:100px;*/
margin:0 auto;
height:110px;
}

#right .time{
display:block;
margin:6px;
text-align:center;
font-weight:bold;
}

#right .time a, #right .time span{
text-decoration:none;
color:#000000;
text-align:center;
}

#right .time a:hover{
text-decoration:underline;
}

#right .text{
display:block;
padding:0px 12px 4px 12px;
text-align:left;
font-weight:normal;
overflow:hidden;
border:0px solid #000000;
height:92px;
}

#right .date .text{
color:#000000;
}

#right .text a, #right .text span{
display:block;
padding:0 0 4px 0;
color:#007236;
text-decoration:none;
/*font-weight:bold;*/
text-align:center;
font-weight:normal;
}

#right .text a:hover{
text-decoration:underline;
}

#right .button{
display:block;
margin:0 auto;
width:54px;
/*position:absolute;
bottom:4px;
right:10px;*/
border:0px solid #000000;}

#right .button button{
display:block;
margin:0;
padding:0;
cursor:pointer;
float:left;
width:10px;
height:10px;
background:url(../images/calendarj/rad.png) center center no-repeat;
border:0px solid #000000;
}

#right .button button.act{
cursor:default;
background:url(../images/calendarj/rad-act.png) center center no-repeat;
}



#right .button .next, #right .button .prev{
display:block;
float:right;
margin:0 10px -10px 0;
padding:0px;
cursor:pointer;
height:11px;
width:14px;
border:0px;
border:0px solid #000000;
background:url(../images/calendarj/next.png) right center no-repeat;
}
#right .button .prev{
margin-right:2px;
background:url(../images/calendarj/prev.png) left center no-repeat;
}

#right #area{
display:block;
padding-top:2px;
margin-bottom:20px;
width:235px;
background:url(../images/right/head.png) left top no-repeat;}

#right .ar1{
margin-bottom:10px !important;
} 

#right #info{
display:block;
width:235px;
min-height:150px;
background:url(../images/right/headbottom.png) left bottom no-repeat;
}

#right #area .news{
min-height:50px !important;
background:url(../images/right/headbottom_50px.png) left bottom no-repeat !important;
}

#right #info ul{
padding:0 12px 10px 12px;
}

#right #info ul li{
display:block;
padding:0 0 10px 0;
text-align:left;
color:#007236;
color:#000000;
font-size:12px;
line-height:16px;
border:0px solid #000000;}

#right #info ul li a{
font-weight:normal;
text-decoration:underline;
}

#right #info ul li a.act{
font-weight:bold
}


#right #info ul li span.time{
display:inline;
padding:0;
margin:0;
font-size:12px;
font-weight:bold;
color:#000000;
}

#right #info ul li a span{
font-style:italic;
}

#right .newsform{
display:block;
margin:0 0 10px 0;
width:238px;
height:164px;
background:url(../images/right/newsform.png) left top no-repeat;}

#right .newsform p{
padding:20px 0 0 0;
text-align:center;
text-transform:uppercase;
color:#7d7d7d;
font-weight:bold;
font-size:13px;
font-family:Palatino Linotype;
}

#right .newsform table{
margin-top:32px;
margin-left:10px;
width:216px;
border:0px solid #000000;}

#right .newsform table td.one{
padding:8px 0 12px 0;
width:80px;
line-height:12px;
color:#7d7d7d;
font-size:11px;
font-weight:bold;
}

#right .newsform table input[type="text"]{
padding:0 2px 0 2px;
width:141px;
height:21px;
border:0px;
font-size:8pt;
background:url(../images/right/input.png) left top no-repeat;
}

#right .newsform table input[type="text"]:focus{
background:url(../images/right/input-hover.png) left top no-repeat;
}


#right .newsform table input.send{
display:block;
float:right;
width:83px;
height:21px;
margin:0px;
padding:0px;
border:0px;
background:url(../images/right/send.png) left top no-repeat;
}

#right .newsform table input.send:hover{
cursor:pointer;
background:url(../images/right/send-hover.png) left top no-repeat;
}



#containerL {
	position:relative; 
	display:block; 
    background:#fff;
	border-left:solid 200px #fff;
}

#innerL {
	display:block;
	position:relative;
	margin-left:-200px;
	padding:1px;
}

#left {
	float:left; 
	position:relative; 
	width:200px;
	left:0px;
	border:0px solid #000000;
}

#centerL {
	margin-left:220px;
	margin-top:6px;
	position:relative; 
	display:block;
	height:1%;
}

#left ul.left{
margin-top:2px;
margin-bottom:20px;
}

#left ul.news{
border:0px solid #000000;
margin-top:-5px;
}

#left ul.left li{
display:block;
float:left;
width:190px;
min-height:24px;
/*line-height:26px;*/
padding:4px 0 2px 12px;
border:1px solid #fff;
vertical-align:baseline;
/*vertical-align:middle;*/
/*background:url(../images/line2_.png)  left bottom repeat-x;*/
background:url(../images/line2__.png)  left bottom repeat-x;
}

#left ul.left li a, #left .year a{
/*display:block;
padding-left:12px;
text-transform:uppercase;
width:192px;
height:28px;
line-height:28px;*/
font-size:13px; /*12*/
color:#333333;
vertical-align:baseline;
font-weight:normal;
font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

#left div.year{
display:block;
width:192px;
border:0px solid #000000;}

#left ul.left li.two{
min-height:36px;
padding-bottom:5px;
padding-top:5px;
border:0px solid #000000;
}

#left ul.left li.two a{
line-height:16px;
}


#left ul.left li.end, #left ul.left li a.end{
background:none;
}

#left ul.left li a.act, #left ul.left li a:hover{
color:#007236;
text-decoration:underline;
}

#left ul.left li a.act{
font-weight:bold;}


#left ul.left li a.act:hover{
cursor:default;
text-decoration:none;}

#left .outerYear{
margin-top:0px;}

#left .year{
margin:0px;
padding:0px;
float:left;
border:0px solid #000000;}

#left .year a{
height:26px;
line-height:26px;
}

#left .month{
float:left;
border:0px solid #000000;
margin:4px 0px 14px 10px;
}

#left .month a, #left .month span{
display:block;
margin:0;
padding:2px;
width:26px;
border:0px solid #000000;
color:#999999;
float:left;}

#left .month a.act{
color:#007236;
text-decoration:underline;
/*font-weight:bold;*/
}

#left .month span{
color:#999999;}

#left .month a.catalog{
display:block;
margin:0px;
margin-top:8px;
width:180px;
border:0px solid #000000;
}

#left .searchDiv{
float:left;
padding:8px 0 8px 10px;
width:190px;
border:0px solid #000000;
background:url(../images/line2_.png)  left bottom repeat-x;} 

#left .searchDiv p{
text-transform:uppercase;
font-size:12px;
font-weight:bold;
color:#555555;
}

#left .searchDiv p.set{
padding-bottom:6px;
}

#centerR .searchDiv{
display:block;
border:0px solid #000000;
padding-top:22px;}

.searchDiv span{
display:block;
padding:4px 0;
font-size:12px;
color:#555555;
}

.searchDiv ul span, .searchDiv ul li{
display:block;
float:left;
font-size:12px;
height:20px;
line-height:20px;
}

.searchDiv ul{
float:left;
padding-bottom:10px;}

.searchDiv ul li{
padding-right:10px;

}

.searchDiv ul li span.check{
display:block;
float:left;
height:12px;
width:12px;
margin-right:6px;
overflow:hidden;
border:0px solid #000000;
cursor:pointer;
background:url(../images/book/check.png) left center no-repeat;
}

.searchDiv ul li span.check[mode="act"], .searchDiv ul li span.act{
background:url(../images/book/check_act.png) left center no-repeat;
}

.searchDiv ul li span.check input{
margin-left:120px;
}

.searchPhilter{
display:block;
padding:6px 0 10px 0;
}

.searchPhilter a{
display:block;
padding-left:12px;
height:22px;
line-height:22px;
font-weight:normal;
text-transform:uppercase;
color:#555555;
font-size:13px;
background:url(../images/strsearch.png) left center no-repeat;}

.searchPhilter a.act{
text-decoration:underline;
color:#007236;
}

#left .historyDiv{
float:left;
margin-left:10px;
border:0px solid #000000;}

#left .historyDiv p{
text-transform:uppercase;
font-size:12px;
font-weight:bold;
color:#a1a1a1;
}

#left .historyDiv .histiry a{
display:block;
padding:4px 0px 4px 6px;
font-weight:normal;
font-size:12px;
color:#a1a1a1;
}

#left .historyDiv .histiry a:hover{
cursor:pointer;
color:#000000;
}

#centerL .formSerach{
margin:10px 0;
padding:14px 10px;
background:#e1e1e1;}

#centerL .formSerach table td{
margin:0;
padding:0;
padding-right:10px;
padding-bottom:10px;
font-size:12px;
height:22px;
border:0px solid #000000;
}


#centerL .formSerach form input[type="text"]{
margin:0;
padding:0;
height:22px;
}

#centerL .formSerach form.all input[type="text"]{
width:400px;
}

#centerL .formSerach form.book input[type="text"]{
width:220px;
}

#centerL .formSerach form input[type="submit"]{
width:62px;
height:22px;
border:0px solid #000000;
cursor:pointer;
background:url(../images/searchbutt.png) left top no-repeat;
}

#centerL .formSerach form input.date{
width:80px !important;
}

#centerL  .searchDiv{
display:none;}

#centerL  .searchDiv[mode="act"]{
display:block;
}

#centerL  .searchDiv .group{
margin:10px 0;
height:20px;}
#centerL  .searchDiv .group a{
display:block;
margin-right:4px;
float:left;
width:119px;
height:20px;
line-height:20px;
text-align:center;
font-size:12px;
font-weight:normal;
border:1px solid #a8a8a8;
color:#959595;
}


#centerL  .searchDiv .group a.act, #centerL  .searchDiv .group a:hover{
border:1px solid #007236;
color:#007236;
text-decoration:none;
}

#centerL .groupResult ul.list{
margin-top:2px;
margin-left:2px;
} 

#centerL .groupResult ul.list li{
display:block;
float:none;
height:auto;
padding:4px 0;
border:0px solid #000000;
}

#centerL .groupResult div{
display:none;
}

#centerL .groupResult div[mode="act"]{
display:block;}

#centerL .text{
padding:0px 0 10px 0; 
border:0px solid #000000;
}

#centerL .inner{

}

#centerL .inner p.zag{
padding:2px 0 2px 0 !important;
}

#centerL .text p{
font-size:13px;
padding:4px 0 4px 0;
}

#centerL .text a{
font-weight:normal;
}

#centerL .text p.decript{
font-style:italic;
margin-bottom:10px;
}

#centerL .text p.comment{
margin-top:14px;
margin-bottom:14px;
color:#666;}

#centerL .text p.comment span{
display:block;
padding-bottom:4px;
font-weight:bold;
font-style:italic;
}

#centerL .text .alltheme a{
text-decoration:underline;
}

#centerL .text .alltheme p{
padding:1px;}

#centerL .text .social{
display:block;
float:right;
margin-left:6px;
margin-bottom:6px;
width:152px;
height:26px;
border:0px solid #000000;}

#centerL .text .social{
font-size:13px;
line-height:26px;
}

#centerL .text .social span, #centerL .text .social div{
display:block;
float:left;
border:0px solid #000000;
}

#centerL .text .social div{
float:right;
}

#centerL ul.rubrik li{
padding:1px 0 1px 0;}

#centerL ul.rubrik a{
text-decoration:underline;
margin-bottom:4px;
}

#centerL ul.catalog{
margin-bottom:16px;}

#centerL ul.catalog a{
font-weight:normal;
}

#centerL ul.rubrik ul{
margin-left:10px;
}

#centerL ul.rubrik ul li a{
font-weight:normal;
}

#centerL ul.list{
/*margin-top:10px;*/
list-style-type:decimal;
margin-left:26px;
}


#centerL ul.listNone{
list-style-type:none;
margin-left:0;
}

#centerL ul.list li{
margin:0;
padding:4px 0 4px 0;
text-indent:4px;
line-height:18px;
font-size:13px;
color:#333333 !important;
border:0px solid #000000;
}

#centerL ul.listNone li{
padding-bottom:4px;
}


#centerL ul.list li.color2{
color:#8c6239;
}

#centerL ul.list li.color3 a{
color:#000000;
}


#centerL ul.list a{
font-weight:normal;
text-decoration:underline;
margin-left:-4px;
}

#centerL ul.list li div{
display:none;
vertical-align:top;
border:0px solid #000000;
}
#centerL ul.list li div[mode="act"]{
display:block;
}

#centerL ul.list li div.iconmode{
min-height:130px;
margin-bottom:4px;
border:0px solid #000000;}

#centerL ul.list li div.art{
min-height:10px;
}

#centerL ul.list li div.iconmode img{
float:left;
max-width:66px;
max-height:120px;
padding:2px 6px 4px 0;
border:0px solid #000000;

}

#centerL ul.list li div.iconmode a{
margin:0; padding:0;}

#centerL ul.dialphilm li div.iconmode img{
max-width:150px;
}

#centerL ul.list li div.iconmode span{
display:block;
margin:0;
padding:2px 0 2px 0;
color:#000000;
}

#centerL ul.list li div.art  span{
padding:0px 0 4px 0;
}

@-moz-document url-prefix() {
     #centerL ul.list li div.art  span {
	  padding:2px 0 2px 0;
     }
}


#centerL ul.list li div.iconmode p span{
text-indent:0;
border:0px solid #000000;
line-height:16px;  
}


/*
#centerL ul.list li div.iconmode p a{
padding-left:0px;}*/

#centerL ul.list li div.iconmode p{
display:block;
margin:0;
padding:0 0 4px 78px;
color:#000000;
line-height:14px;
min-height:120px;
border:0px solid #000000;
text-indent:0;
}

#centerL ul.dialphilm li div.iconmode p{
padding:0 0 0 156px;
}

#centerL ul.list li div.art p{
padding-left:0;
padding-bottom:0;
min-height:10px;
}

#centerL ul.list li div.iconmode p{
color:#666666;
}
#centerL ul.list li div.iconmode p, #centerL ul.list li div.iconmode span{
text-decoration:none;
}

#centerL ul.list li div.iconmode table{
display:block;
margin-bottom:2px;
}

#centerL ul.list li div.iconmode table td{
vertical-align:top;
border:1px solid #000000;
}

/*dissertacia*/
#centerL ul.list div.dissertacia{
border-bottom:1px dotted #999999;
padding-bottom:6px;
margin-bottom:-2px;
margin-left:-22px;
padding-left:22px;
}


#centerL ul.list li div.listmode span.disser{
text-indent:0;
display:block;
margin-right:110px;
}

#centerL ul.list li span.time, #centerL ul.list li p span.time{
color:#888;
font-size:12px;
}

#centerL ul.list li div.listmode p.disbut{
display:block;margin:0; padding:0; float:right; width:74px;}

#centerL ul.list li div.listmode p.disbut a{
display:block;
margin:4px 6px 0 0;
padding:0;
text-indent:0; 
padding:0 !important;
float:left;
text-align:center !important;
color:#4b9b71;
width:18px;
height:18px;
line-height:17px;
font-size:11px;
border:1px solid #4b9b71;
border-radius:4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
text-decoration:none;
}

/*#centerL ul.list li div.listmode p.disbut a.nolink:hover*/

#centerL ul.list li div.listmode p.disbut a:hover, #centerL ul.list li div.listmode p.disbut a.color2:hover{
/*border:1px solid #4b9b71;
color:#4b9b71;*/
text-decoration:underline;
}


#centerL ul.list li div.listmode p.disbut a.nolink{
color:#999999;
border:1px solid #CCCCCC;
cursor:default;
text-decoration:none;
}

#centerL ul.list li div.listmode p.disbut a.color2{
color:#8c6239;
border:1px solid #8c6239;
}

#centerL ul.list li div.listmode p.disbut a.bo{
margin-right:0;
height:18px;
width:18px;
background:url(../images/book/bod.png) center center no-repeat;
}

/*dissertacia*/

#centerL ul.list a.aut{
color:#000000;
font-style:italic;
text-decoration:underline;
}

#centerL ul.book a.aut{
color:#666666;
font-style:italic;
text-decoration:underline;
}

#centerL ul.authorBot{
margin-bottom:4px;}

#centerL ul.list li span{
color:#000000;}

.tree{
display:block;
margin:7px 0 7px 0;
padding:0;
/*width:320px;
border:1px solid #CCCCCC;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;*/
overflow:hidden;
/*background:url(../images/tree/head.png) left top no-repeat;*/
}

.treeSmall{
margin-top:-10px;
margin-bottom:10px;
}

.tree .foot{
display:block;
position:relative;
margin:0;
padding:0 ;
min-height:28px;
/*background:url(../images/tree/foot.png) left bottom no-repeat;*/
}

.tree .foot .body{
display:block;
float:left;
position:relative;
margin:0;
padding:6px 0 6px 0;
min-width:320px;
min-height:30px;
width:auto;
border:0px solid #000000;
border:1px solid #CCCCCC;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
/*background:url(../images/tree/body.png) left top repeat-y;*/
}

.tree ul{
margin:0 20px 0 20px;
padding:0;
}

.tree ul ul{
display:none;
}

.tree ul li a{
padding:2px 0 2px;
color:#333333;
font-weight:normal;
font-size:13px;
height:20px;
line-height:20px;
font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

.tree ul li a.act, .tree ul li a:hover{
color:#007236;
}

.tree ul li.none a{
padding-left:16px;
}

.tree ul li span.plus, .tree ul li span.minus{
display:block;
width:16px;
height:20px;
float:left;
cursor:pointer;
background:url(../images/tree/plus.png) left center no-repeat;
}

.tree ul li span.minus{
background:url(../images/tree/minus.png) left center no-repeat;
}

.pages{
display:block;
margin:20px auto 10px;
width:320px;
height:30px;
line-height:30px;
border:0px solid #000000;
}

.pages .texts{
display:block;
margin:0 0 0 0;
padding:0 8px 0 0;
float:left;
font-size:13px;
color:#555555;
height:30px;
line-height:34px;
border:0px solid #000000;
}

.pages a, .pages span.tochka{
display:block;
margin:5px 4px 0 0;
padding:0;
float:left;
width:20px;
height:20px;
line-height:20px;
text-align:center;
font-size:12px;
border:1px solid #0f7a42;
border-radius:6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
font-family: Trebuchet MS;
font-weight:normal;
/*background:url(../images/pages/back.png) left top no-repeat;*/
}

.pages a.act{
color:#666666;
border:1px solid #666666;
/*background:#F0F0F0;*/
}

.pages span.tochka{
width:16px;
border:0;
background:url(../images/pages/tochka.png) center center no-repeat;
}

.pages a.prev{
border:1px solid #fff;
background:url(../images/pages/prev.png) left center no-repeat;
}

.pages a.next{
border:1px solid #fff;
background:url(../images/pages/next.png) left center no-repeat;
}

.pages a:hover{
text-decoration:none;
}

.pages a.prev2{
padding-left:24px;
margin-right:10px;
border:0;
font-size:13px;
line-height:18px;
width:auto !important;
background:url(../images/pages/prevact.png) left center no-repeat;
}

.pages a.next2{
margin-right:10px;
padding-right:24px;
width:auto !important;
font-size:13px;
line-height:18px;
border:0;
background:url(../images/pages/nextact.png) right center no-repeat;
}


.pages a.prevT, .pages a.nextT{
display:block;
width:20px;
height:20px;
line-height:20px;
font-size:16px;
border:1px solid #fff;
}



/*END Menu*/
.endmenu{
display:block;
width:974px;
height:220px;
overflow:hidden;
background:url(../images/endmenu.png) left top no-repeat #06763a;}


.endmenu ul{
display:block;
margin:6px 0 0 0;
float:left;
width:240px;
border:0px solid #000000;
}

.endmenu ul li{
padding:0 0 4px 30px;
}

.endmenu ul.end li{
padding-left:40px;
}


.endmenu ul li a{
color:#FFFFFF;
font-size:13px;
font-weight:normal;
font-family: Trebuchet MS;
}

.endmenu ul li a.bold{
padding: 0 12px 0 0;
font-size:14px;
font-weight:bold;
height:26px;
line-height:26px;
background:url(../images/strelka.png) right center no-repeat;
}


/*bredcrumbs*/
.bredcrumbs{
display:block;
margin:0 0 0 0; 
padding-bottom:0px;
padding-right:100px;
padding-left:14px;
min-height:26px;
color:#999999;
border:0px solid #000000;
/*background:url(../images/line3_.png) left bottom repeat-x;*/
background:url(../images/line2_.png)  left bottom repeat-x;
}

.bredcrumbs a{
display:block;
float:left;
font-size:11px;
height:26px;
line-height:25px;
color:#999999;
font-weight:normal;
font-family: Trebuchet MS;
text-decoration:underline;
border:0px solid #000000;
}

.bredcrumbs span.r{
display:block;
margin:0 6px 0 6px;
float:left;
height:26px;
width:16px;
background:url(../images/bredcrumbs_.png) left center no-repeat;
}

.bredcrumbs span.r2{
display:block;
margin:0 2px 0 2px;
float:left;
height:24px;
line-height:26px;
min-width:14px;
font-size:10px;
text-align:center;
border:0px solid #000000;
}


.bredcrumbs span.end{
display:block;
float:left;
height:26px;
line-height:25px;
font-size:11px;
font-family: Trebuchet MS;
border:0px solid #000000;
}


/*Setting*/
.setting{
display:block;
position:relative;
float:right;
width:84px;
height:28px;
border:0px solid #000000;}

.twobutton{
width:56px;}

.sbook{
width:100px;
}

.sdiogram{
width:85px;
}

.soneBut {
width:24px;
}

.but{
width:74px;
}

p.nameauthor{
margin-top:-10px;}

p.nameauthor a{
font-size:10pt;
text-decoration:underline;
}
p.nameauthor span{
font-weight:bold;
}

.dopmaterials ul.book li, ul.book li{
padding-left:14px;
line-height:18px;
background:url(../images/circle4.jpg) left 7px no-repeat;
}

/*
.dopmaterials ul.book li.color1, ul.book li.color1{
background:url(../images/circle1.jpg) left 7px no-repeat;
}

.dopmaterials ul.book li.color2, ul.book li.color2{
background:url(../images/circle2.jpg) left 7px no-repeat;
}
*/


.setting a{
display:block;
margin:1px 4px 0 0;
/*padding:0 2px 0 0;*/
padding:0;
float:left;
width:20px;
height:18px;
line-height:18px;
font-size:10px;
/*letter-spacing:-1px;*/
text-align:center;
color:#555555;
color:#999999;
font-weight:normal;
border:1px solid #CCCCCC;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.setting a:hover{
color:#007236;
}

.setting a.numb{
text-align:center;
/*background:url(../images/setting/back.png) left top no-repeat;*/
}

.setting a:hover{
border:1px solid #4b9b71;
/*background:url(../images/setting/backh.png) left top no-repeat;*/
}

.sbook a, .sdiogram a, .soneBut a, .sbook a:hover, .sdiogram a:hover, .soneBut a:hover, .setting a.icon, .setting a.icon:hover{
margin-top:1px;
border:0;}


.setting a.list{
padding-right:0;
/*width:22px;*/
/*background:url(../images/setting/list.png) left top no-repeat;*/
}

.setting a.icon{
width:20px;
height:20px;
}
.setting a.back{
background:url(../images/book/back.png) left center no-repeat;
}
.setting a.back:hover{
background:url(../images/book/back.png) right center no-repeat;
}

.setting a.save{
background:url(../images/book/save.png) left center no-repeat;
}

.setting a.save:hover{
background:url(../images/book/save.png) right center no-repeat;
}


.setting a.bo{
margin-right:0;
background:url(../images/book/bo.png) left center no-repeat;
}

.setting a.bo:hover{
background:url(../images/book/bo.png) right center no-repeat;
}

.setting a.meta{
margin-right:0;
margin-left:4px;
background:url(../images/book/meta.png) left center no-repeat;
}

.setting a.meta:hover{
background:url(../images/book/meta.png) right center no-repeat;
}

.setting div{
display:none;
position:absolute;
z-index:10;
width:126px;
height:64px;
font-size:9px;
margin: 3px 0 0 0;
padding:14px 4px 4px 4px;
border:0px solid #3333CC;
background:url(../images/setting/div.png) left top no-repeat;}

.setting div p{
text-align:center;
padding-bottom:3px;
font-size:11px;
color:#555555;
}

.setting li{
display:block;
float:left;
border:1px solid #FFFFFF;}


.setting li:hover div{
display:block;
top:20px;
}

.setting li div.act{
display:block;
top:20px;
}


.setting li div ul li{
color:#555555;
width:110px;
margin-left:10px;
}

.setting li div ul li span.check{
display:block;
float:left;
height:12px;
width:100px;
margin-right:6px;
padding-left:16px;
overflow:hidden;
border:0px solid #000000;
cursor:pointer;
font-size:10px;
background:url(../images/book/check.png) left center no-repeat;
}

.setting li div ul li span.check[mode="act"], .setting li div ul li span.act{
background:url(../images/book/check_act.png) left center no-repeat;
}



.setting li div ul li span.check input{
margin-left:120px;
}

.setting div.number{
right:3px;
}

.twobutton div.number{
right:-25px;
}

.setting div.sort{
right:-25px;
}

.twobutton div.sort{
right:-53px;
}


.setting div.view{
right:-53px;
}


.setting div button.bsort{
border:0px;
font-size:10px;
margin:1px 0 0 14px;
padding:0 0 0 10px;
text-align:left;
height:16px;
color:#555555;
cursor:pointer;
vertical-align:baseline;
border:0px solid #000000;
background:url(../images/setting/top.png) left center no-repeat;
}

.setting div button.bsort[mode=desc]{
background:url(../images/setting/bot.png) left 4px no-repeat;
}

.setting div.line{
display:block;
margin:0;
padding:0;
margin-top:40px;
height:1px;
width:124px;
background:url(../images/setting/line.png) left bottom repeat-x;}

/*Dialog*/
.bdescription{
margin:0;
padding:0;
border:1px solid #a1a1a1;
background:url(../images/book/tn.png) repeat important;
box-shadow: #959595 5px 5px 20px ;}

.bdescription .ui-dialog-title { margin:0; padding-top:2px;}

.bdescription .ui-dialog-titlebar{
 padding: 4px .8em 4px .8em;
 background:#e1e1e1;
 border:0px;
 color:#000;
 font-family:Georgia;
 font-size:11px;
}


.bdescription .ui-dialog-titlebar-close{
background:#FFFFFF;
border:1px solid #b0b0b0;
width:15px;
height:15px;
padding:0px;
}

.bdescription .ui-icon-closethick {
display:block;
width:13px;
height:13px;
background:url(../images/book/close.png) center center no-repeat; }

.bdescription p{
font-size:12px;
padding-bottom:6px;}

.bdescription .ui-dialog-content{
padding: .5em .7em;
}

.bdescription #dialog, .bdescription #dialog2{
min-height:80px !important;}

.bdescription p.cnt{
padding-top:10px;
text-align:center;
font-weight:bold;
font-weight:7pt;}

.bdescription a.saveFile{
display:block;
margin:20px auto 0;
width:77px;
height:21px;
line-height:21px;
text-align:center;
font-size:8pt;
font-weight:normal;
background:url(../images/book/savefile.png) left center no-repeat;}

.fleft{
float:left;
padding:0 14px 6px 0;
margin-top:3px;}


.fright{
float:right;
padding:0 6px 6px 10px;}

#centerL .text p.zag, p.zag, p.zag2{
padding:0 0 4px 0;
margin-top:-1px;
font-weight:bold;
font-family: Palatino Linotype;
font-size:13px;}

#centerL .text p.zag{
line-height:16px;
font-size:13px;}

.result p.zag{
font-size:14px;
}

p.zag2{
font-size:12px;
}

.text p.aril{
font-family:Arial, Helvetica, sans-serif !important;}

#centerL .text .fleft{
max-width:150px;}

#centerL .text .fright{
text-decoration:underline;
font-weight:normal;}

#centerL .text .infoPublic{
padding-top:10px;
font-size:13px;
font-weight:bold;
}

#centerL .text .infoPublic a{
font-weight:normal;
text-decoration:underline;
font-size:13px;
}

#centerL .text .dopmaterials{
margin:0;
padding-top:12px;
border:0px solid #000000;}

#centerL .text .dopmaterials p.zag{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;}

#centerL .text .dopmaterials p.history{
padding-left:20px;
}
#centerL .text .dopmaterials p.history a{
text-decoration:underline;}

#centerL .text .dopmaterials table{
margin-top:6px;
width:100%;}

#centerL .text .dopmaterials table td{
font-size:9pt;
padding:3px;
padding-left:0;
width:33%;
}

#centerL .text .dopmaterials table td.zag{
text-transform:uppercase;
font-size:12px;
font-weight:bold;
/*font-family:Palatino Linotype ;*/
/*font-family:Arial, Helvetica, sans-serif;*/
}



.sd{
margin:0px 0 10px 0;
padding-top:12px;
border:0px solid #000000;
display:block;
}

p.sdl{
display:block;
margin-bottom:4px;
height:20px;
border:0px solid #000000;
cursor:pointer;
background:url(../images/book/sdlines.png) left top repeat-x;}

p.sdl2{
background:url(../images/book/sdlines.png) left top repeat-x;}

.sd p.sdl a.name, .sd p.sdl a.list{
display:block;
float:left;
text-decoration:underline;
height:20px;
background:#FFFFFF;
font-weight:normal;
padding:0 1px 0 0;
border:0px solid #000000;
}

.sd p.sdl a.list{
float:right;
padding:0 0 0 1px;
}

.sd p.sdl div, .sd a.sdl div{
float:left;
width:100px;
height:20px;
background:url(../images/book/sdline.jpg) left top repeat-x;}

.dopmaterials{
padding-top:16px;}

.dopmaterials a{
text-decoration:underline;
font-weight:normal;
border:0px solid #000000;
/*font-size:13px !important;*/
}


.year{
display:block;
margin:16px 0 10px 0;
font-size:12px;
color:#000000;
}

.year a{
font-size:12px;
}
.year a.act{
color:#000000;
}

.month{
display:none;
margin-bottom:14px;
font-size:12px;
color:#007236;
}
.month[mode="view"]{
display:block;}

.month a{
font-weight:normal;
font-size:12px;
padding-right:2px;
padding-left:2px;
}

.month a.act{
color:#000000;
cursor:default;
text-decoration:none;
}

.catalog a.act{
font-weight:bold;
}

.month a.end{
padding-right:0;
}

.month span{
color:#000000;
}

.philter{
display:block;
margin:0 0 10px 0;
width:705px;
height:34px;
background:url(../images/philter.png) left top no-repeat;}

.philter p.modePh{
margin:0 0 0 10px;
line-height:32px;
font-size:12px;}

.philter p.modePh a{
font-size:12px;
font-weight:normal;
}

.philter p.modePh a.act{
color:#000000;
cursor:default;
text-decoration:none;
}

.calendarj{
display:block;
margin-top:2px;
position:relative;
width:586px;
height:42px;
background:url(../images/calendarj/philters_sm.png) left top no-repeat;}

.calendarj table{
display:block;
padding-left:16px;
padding-top:6px;
width:460px;
border:1px solid #000000;}

.calendarj table td{
vertical-align:top;
padding:4px;
padding-right:6px;
font-size:8pt;
height:22px;
line-height:22px;
}

.calendarj table select{
height:22px;}

.calendarj table option{
font-size:8pt;
}

.calendarj table input.sub{
display:block;
background:#FFFFFF;
height:22px;
line-height:22px;
border:1px solid #e1e1e1;}

.doing{
display:block;
margin-top:10px;
margin-bottom:10px;}

.doingArea{
margin-bottom:10px;}
.doingArea p{
padding:2px 0 2px 0;
/*font-size:9pt;*/
}

.doingArea p.desc{
padding-left:12px;
}

.doingArea p a{
font-weight:normal;
/*font-size:9pt;*/
text-decoration:underline;
}

.doingArea p span.c{
display:block;
width:12px;
height:12px;
border:0px solid #000000;
float:left;
background:url(../images/circle4.jpg) left 4px no-repeat;
}

.doingArea p.name{
font-weight:bold;}

.doingArea .padd{
padding-left:22px;
}

.doingArea .padd p.pad{
padding-left:12px;
}

.abs{
display:none;
margin-bottom:14px;
margin-left:0px;
margin-top:7px;
font-size:8pt;
height:24px;
font-family: Trebuchet MS;
color:#007236;
border:0px solid #000000;
}
.abs[mode="view"]{
display:block;}

.abs a{
display:block;
margin:0 0 0 0; padding:0;
margin-right:6px;
float:left;
text-align:center;
min-width:20px;
height:18px;
line-height:18px;
border:1px solid #ffffff;
/*margin-right:15px;*/
text-decoration:underline;
font-family: Trebuchet MS;
}

#centerL .text .abs a{
font-weight:bold;
}

.abs a.act{
margin:0; padding:0;
text-decoration:none;
color:#000000;
border:1px solid #999999;
border-radius:4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background:#F5F5F5;
}
.abs a.end{
margin-right:0;
}

.abs2{
height:38px;}

.abs div{
display:none;
margin-left:-4px;
padding-top:24px;
border:0px solid #000000;
padding-bottom:20px;
}

.abs div[mode="act"]{
display:block;
}

.abs div a{
width:22px;
margin-right:2px;
margin-left:4px;
}

.text ul.authors{
display:block;
margin:-10px 10px 10px 0;
width:222px;
float:left;
border:0px solid #000000;}

.text ul.authorsfour{
width:178px;
border:0px solid #000000;
}

.text ul.end{
margin-right:0px;}

.text ul.authors li{
display:block;
padding-left:12px;
padding-bottom:2px;
margin-bottom:2px;
line-height:16px;
background:url(../images/circle4.jpg) left 6px no-repeat;}

.text ul.authors a{
text-decoration:underline;
font-weight:normal;
} 

.blokLink{
margin:10px 0 0 0;}

.blokLink a{
font-size:9pt;
font-weight:normal;
}

.blokLink p.zag2{
font-size:12px !important;}

.Link{
margin-bottom:16px;
}


#containerLR {
	position:relative; 
	display:block; 
    background:#fff;
	border-left:solid 200px #fff;
	border-right:solid 250px #fff;
}

#innerLR {
	display:block;
	position:relative;
	margin-left:-200px;
	margin-right:-250px;
	padding:1px;
	margin-top:10px;
}

#centerLR {
	margin-left:220px;
	margin-right:250px;
	position:relative; 
	display:block;
	height:1%;
}

.clear {
	clear:both;
}



.footer, .push {

  height: 58px;

}

.footer{
display:block;
margin:0 auto;
width:974px;
background:#e1e1e1;
}
 
.footer p{
padding:14px 0 0 14px;
color:#7d7d7d;
font-size:12px;
line-height:16px;
}

 
.pharus{
display:block;
float:right;
margin-right:8px;
background:url(../images/pharus.png) center center;
height:58px;
width:107px;
text-decoration:none;}

/*scrollTop*/
a#toTop {     
width: 72px;     
background:transparent; 
text-align: center;     
padding: 5px;     
position: fixed;
top: auto;
bottom:10px !important;
right: 5px;     
cursor: pointer;     
text-decoration: none;
line-height:18px;
font-size:9pt;
color:#999999;
}
a#toTop:hover{
color:#666666;
}
a#toTop  img{
float:left;
margin-top:4px;
}     


/*Search*/
#ui-datepicker-div{
width:260px !important;
}

.ui-datepicker-calendar th{
margin:0;
padding:2px;
font-size:11px;
height:20px;
line-height:20px;
background:#f3f2f2;
border-right:1px solid #FFFFFF; 
padding:0!important; margin:0!important;
width:20px !important;

}

table.ui-datepicker-calendar{
margin:0;
padding:0;
width:260px !important;
background:url(../images/table.png) left  bottom repeat-x #FFFFFF;}

table.ui-datepicker-calendar td{
border-right:1px solid #FFFFFF;
text-align:center !important;
width:20px !important;
padding:0!important; margin:0!important;
}

table a.ui-state-default{
display:block;
margin-left:2px !important;
width:30px !important;
height:20px !important;
line-height:19px !important;
border:0px solid #CCCCCC !important;
background:none !important;
color:#858585 !important;
font-weight:normal !important;
text-align:center !important;
padding:0!important; margin:0 auto!important;

}

table a.ui-state-highlight, table a.ui-state-hover{
color:#000000 !important;
background:url(../images/dateact.png) center center no-repeat !important;
}

.ui-datepicker-header{
border:0px;
background:url(../images/datehead.png) left bottom repeat-x !important;
}

.ui-datepicker{
margin:0;
padding:0;}

.ui-datepicker-title{
font-size:12px;
}

.ui-datepicker-title option{
font-size:13px;}

.ui-datepicker-year{
width:60px !important;
/*margin-left:0px !important;*/}

.ui-datepicker-month{
width:100px !important;
margin-left:20px !important;
}

.ui-state-hover{
background:#FFFFFF !important;
border:1px solid #999999 !important;}

.ui-datepicker-header .ui-icon {background-image:url(ui-lightness/images/ui-icons_222222_256x240__.png) !important; }


/*loader*/
.loader{
margin-left:-5000px;
background:url(../images/shript-check-act.png);
background:url(../images/shript-check-null.png);
background:url(../images/plus.png);
background:url(../images/book/backh.png);
background:url(../images/book/bos.png);
background:url(../images/book/check.png);
background:url(../images/book/check_act.png);
background:url(../images/book/metah.png);
background:url(../images/book/saveh.png);
background:url(../images/endmenu.png) left top no-repeat;
background:url(../images/right/newsform.png) left top no-repeat;
}

#left .monthDiv{
}

#left ul.monthcalendarj{
margin-top:0px;
margin-left:8px;
padding:4px 0 8px 0;
float:left;
width:70px;
border:0px solid #000000;
}

#left ul.monthcalendarj li{
background:none;
margin:0;
padding:0;
padding-bottom:0px;
min-height:14px;
line-height:16px;
border:0px;
padding-left:10px;
background:url(../images/circle.jpg) left center no-repeat;

}

/*
#left ul.monthcalendarj li a{
line-height:14px;
border:1px solid #000000;
font-size:13px;
}
*/

#left ul.vest{
display:none;
float:left;
margin:0;
padding:0;
width:140px;
margin-left:10px;
margin-top:0px;
margin-bottom:6px;
/*padding-top:4px;*/
border:0px solid #000000;
}


#left ul.vest li{
display:block;
width:130px;
margin:0;
padding:1px 0 1px 10px;
min-height:12px;
background:url(../images/circle.jpg) left center no-repeat;
border:0px solid #000000;
}

#left ul.vest li a{
display:block;
margin:0;
padding:0;
mafgin-left:10px;
font-size:13px;
border:px solid #000000;
height:14px;
line-height:14px;
}

/* Search new */
#right .searchHistory{
padding:10px;
margin-top:2px;
border:2px solid #e4e4e4;
border-radius:6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

#right .searchHistory p.zag{
text-transform:uppercase;
font-size:13px;
}

#right .searchHistory .areaBlock{
display:block;
margin:6px 6px 6px 0;
padding-bottom:2px;
border-bottom:1px solid #888888;
}

#right .searchHistory .end{
border-bottom:0px;
}



#right .searchHistory .areaBlock a p{
color:#060606;
font-size:12px;
line-height:16px;
font-weight:normal;
}

#right .searchHistory .areaBlock a p span{
color:#696969;
}

#right .searchHistory .areaBlock a:hover p, #right .searchHistory .areaBlock a:hover p span{
color:#007236 !important;
}

#centerR a.searchBlank{
display:block;
margin-top:-18px;
float:right;
color:#9f9f9f;
font-weight:normal;
font-size:13px;
text-decoration:none;
}

#centerR a.searchBlank span{
text-decoration:underline;
}

#centerR .formSerach{
margin:10px 0;
padding:16px 10px;
border:1px solid #CCCCCC;
background:#f0f0f0;}

#centerR .formSerach table td{
margin:0;
padding:0;
padding-right:10px;
font-size:12px;
height:20px;
border:0px solid #000000;
}


#centerR .formSerach form input[type="text"], #centerR .formSerach form select{
margin:0;
padding:0;
height:20px;
border:1px solid #aeaeb0;
padding-left:2px;
line-height:20px;
font-size:12px;
}

#centerR .formSerach form select{
width:244px;
}

#centerR .formSerach form.all input[type="text"]{
width:614px;
}

#centerR .formSerach form.book input[type="text"]{
width:240px;
}



#centerR .formSerach form input[type="submit"], #centerR .formSerach form input[type="reset"]{
padding-left:24px;
width:70px;
height:20px;
border:0px solid #000000;
cursor:pointer;
background:none;
color:#387f5d;
text-transform:uppercase;
font-size:11px;
font-weight:bold;
text-align:left;
background:url(../images/search/lup.png) left center no-repeat;
}

#centerR .formSerach form input[type="reset"]{
width:90px;
padding-left:24px;
background:url(../images/search/res.png) left center no-repeat;
border:0px solid #000000;
}

#centerR .formSerach form input.date{
width:102px !important;
font-size:12px;
color:#999999;
padding-left:10px;}

#centerR .formSerach form input.one{
margin-right:16px;

}

#centerR .formSerach form input.date:focus{
padding-left:2px;
width:110px !important;
color:#000000;
}


#centerR .formSerach form table{
width:100%;
/*width:710px;*/
border:0px solid #000000;} 

#centerR .formSerach form table td{
vertical-align:middle;
padding-bottom:8px;
}

#centerR .formSerach form.all table td{
padding-bottom:0px;
}

#centerR .formSerach form table td.rgt{
text-align:right;
padding-right:20px;
color:#999999;
font-size:14px;
font-weight:bold;
border:0px solid #000000;
}


#centerR .formSerach form table td.name{
width:80px;
font-weight:bold;
border:0px solid #000000;

}

#centerR .formSerach form table td.two{
width:220px;
font-weight:bold;
border:0px solid #000000;
}

#centerR .formSerach form table td.info{
color:#666;
padding-top:4px;
vertical-align:top;
border:0px solid #000000;
}

#centerR .formSerach form table td.info p{
padding:0;
margin:0;
font-size:12px;
line-height:16px;
}

#centerR .formSerach form table td.sort{
width:92px;
border:0px solid #000000;
}

#centerR .formSerach form table td.r{
width:4px;
border:0px solid #000000;

}

#centerR .formSerach form ul{
border:0px solid  #000000;
height:10px;}

#centerR .result{
border:0px solid #000000;
}

#centerR .resultTop{
padding-top:36px;
}

#centerR .result .group{
display:block;
margin:10px 0;
height:20px;
border:0px solid #000000;
}

#centerR .result .group .resTitle{
line-height:26px;
}


#centerR .result .group p{
display:block;
float:left;
margin-right:12px;
}

#centerR .result .group a{
display:block;
padding:0 6px 1px 6px;
margin-right:16px;
float:left;
min-width:16px;
text-align:center;
border:1px solid #fff;
font-weight:normal;
font-size:13px;
height:24px;
line-height:24px;
font-family:Palatino Linotype;
text-decoration:underline;
}

#centerR .result .group a.start{
padding-bottom:1px;
}

#centerR .result .group a.end{
margin-right:0;
}

#centerR .result .group a.act{
background:#f3f3f3;
border:1px solid #828282;
color:#373737;
text-decoration:none;
}

#centerR .groupResult div ul.lists, #centerR .groupResult div ol.lists{
padding-top:10px;
padding-bottom:10px;
margin-left:40px;
list-style-type:decimal !important;
border:0px solid #000000;
} 

#centerR .groupResult div ol.listsIE{
list-style-type:disc !important;
}

#centerR .groupResult ul.lists li, #centerR .groupResult ol.lists li{
padding:4px 0;
height:auto;
border:0px solid #000000;
}

#centerR .groupResult ul.lists li div.iconmode, #centerR .groupResult ol.lists li div.iconmode{
margin-bottom:10px;
border:0px solid #000000;}


#centerR .groupResult ul.lists li a, #centerR .groupResult ol.lists li a{
font-size:12px;
text-decoration:underline;
font-weight:normal;
}

#centerR .groupResult ul.lists li span, #centerR .groupResult ol.lists li span{
display:block;
}

#centerR .groupResult ul.lists li a.color3, #centerR .groupResult ol.lists li a.color3{
color:#000000;
}


/*
#centerR .groupResult div{
display:none;
}


/*#centerR .groupResult div[mode="act"],*/ 
/*
#centerR .groupResult div.act{
display:block;
}
*/

#centerR .groupResult > div{
/*display:none;*/
margin-left:-5550px;
margin-top:-5000px;
width:720px;
float:left;
}

/*#centerR .groupResult div[mode="act"],*/ #centerR .groupResult div.act{
/*display:block;*/
margin-top:0px;
margin-left:0px;
border:0px solid #000000;
}




#centerR .groupResult div.iconmode[mode="act"]{
display:block;
}

#centerR .searchDiv{
display:none;}

#centerR .searchDiv[mode="act"],  #centerR .searchAct{
display:block;}

#centerR .searchPhilter{
display:block;
position:absolute;
padding:0;
margin-top:10px;
height:22px;
background:#FFFFFF;
z-index:10;
width:100%;
border:0px solid #000000;
border-top:1px solid #CCCCCC;
border-bottom:1px solid #CCCCCC;
}

#centerR .searchPhilter a{
display:block;
margin:0;
padding:0;
min-width:100px;
float:left;
text-transform:none;
background:#FFFFFF;
font-size:12px;
text-align:center;
border-left:1px solid #CCCCCC;
border-right:0;
}

#centerR .searchPhilter a.act{
font-weight:bold;
text-decoration:none;
background:#f0f0f0;
border-bottom:0;
height:23px;
}

#centerR .searchPhilter a.actClose{
border-bottom:1px solid #CCCCCC;
height:22px;
}

#centerR .searchPhilter a.close{
display:block;
float:right;
min-width:24px;
border-right:1px solid #CCCCCC;
background:url(../images/search/open.png) center center no-repeat #FFFFFF;
}

#centerR .searchPhilter a.open{
background:url(../images/search/close.png) center center no-repeat #FFFFFF;
}


#centerR .searchPhilter a[rel="dismat"]{
width:190px;}

#centerL .philterDate{
display:block;
float:right;
font-size:12px;
line-height:20px;
color:#333333;
border:0px solid #000000;
}

#centerL .philterDate span{
font-weight:bold;
}

#centerL .philterDate form{
margin:0;
padding:0;}

#centerL .philterDate input.date{
margin:0; padding:0;
padding-left:2px;
width:68px;
height:18px !important;
font-size:12px;
color:#999999;
border:1px solid #cccccc;
}

#centerL .philterDate input.date:focus{
color:#000000;
}

#centerL .philterDate input[type="submit"]{
margin:1px 2px 0 3px; 
padding:0 2px 0 0;
background:#F5F5F5;
border:1px solid #cccccc;
color:#999999;
cursor:pointer;
font-size:11px;
/*height:20px;*/
min-height:20px;
width:24px;
}

#centerL .philterDate input[type="image"]{
display:block;
float:right;
width:18px;
height:18px;
margin:0 5px 0 6px;
border:1px solid #CCCCCC;
}


