#headVewer{
display:block;
padding:6px 0 0 10px;
width:971px;
height:40px;
border:0px solid #000000;
background:url(../images/viewer/back.png) left top no-repeat;}

#headVewer .logo{
display:block;
position:relative;
width:360px;
height:28px;
background:url(../images/viewer/logo.png) left center no-repeat;
}

.panel p{
padding:0px 0 0 10px;}

.servicePanel{
display:block;
margin:4px 0 0 0;
border:1px solid #000000;
height:26px;}