/* WebAppSkins.com */
/* Overlays */
body{
    overflow-y:scroll;
}

.ui-widget-overlay { background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -webkit-border-radius: 5px; }/* Accordion
----------------------------------*/

/* Custom styles */

	/* Buttons under nav menu */

#top-buttons a {
	background:#3e3e3e;
	border-color:#3e3e3e;
	color:#9B9B9B;
}

#top-buttons a:hover {
	color:#B8B8B8;
	border-color:#545454;
}

	/* Header top buttons */
        
#top .welcome {
	color:#f2f2f2;
}

#top .welcome a.btn {
	background:#262626;
	border-color:#2e2e2e;
	color:#696969;
}

#top .welcome a.btn:hover {
	color:#7a7a7a;
}

#top .welcome span.note a {
	color:#7a7a7a;
}

	/* Footer */

#footer {
	color:#545454;
}

#footer a {
	color:#9B9B9B;
	text-shadow:#000 1px 1px 0;
}

#footer a:hover {
	color:#B8B8B8;
}

	/* General */

body { 
	background:#262626;
}

a {
	text-decoration:none;
}

	/* Page Titles */

.page-title h1 {
 	 /*color:#ffc6c6;*/
        color: #e4e4e4;
}

.page-title span a {
	color:#979797;
}
.page-title span a:hover {
	text-decoration:underline;
	color:#C0C0C0;
}

.page-title span {
	color:#c0c0c0;
}

#page_wrapper #page-header #page-header-wrapper #top a.logo {
	background:url('images/logo.png') left top no-repeat;
        width: 233px;
}

#page_wrapper #page-header #page-header-wrapper #top a.logo:hover {
	background:url('images/logo_on.png') left top no-repeat;
}        

	/* Header */

#page_wrapper #page-header {
        z-index: 100;
	background:url('images/header-bg.png') repeat-x;
}

	/* States and Images */

.ui-icon { 
	background-image:url(images/icons-red.png);
}

.ui-widget-header .ui-icon {
	background-image: url(images/icons-lgray.png);
}

.ui-box-header .ui-icon, .ui-state-hover .ui-icon, .ui-portlet-hover .ui-icon {
	background-image: url(images/icons-lgray.png);
}

.ui-portlet-hover .ui-icon {
	background-image: url(images/icons-gray.png);
}

	/* Component containers */

.ui-widget-content {
	border: 1px solid #ddd;
	background: #fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color:#444;
}

.ui-widget-content a {
	color: #444;
}

.ui-widget-header {
	text-transform:uppercase;
	text-shadow:#000 1px 1px 0;
}

.ui-widget-header, #tooltip {
	border:1px solid #333;
	background:#333 url(images/ui-bg_highlight-soft_50_dddddd_1x100.png) 50% 50% repeat-x;
	color:#ffc6c6;
}

.ui-widget-header a {
	color: #444;
}
	
	/* Tooltip */

#tooltip {
	color:#FFF!important;
}

#tooltip div {
	background:#808080;
}

#tooltip h3 {
	color:#fff;
	background:#5f5f5f;
	text-shadow:#000 1px 1px 0;
}

	/* Interaction states */

.ui-state-default, .ui-widget-content .ui-state-default, .pagination a, #dashboard-buttons ul li {
	border:1px solid #ddd;
	background:#f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
	font-weight:bold;
	color:#851a1a;
	outline:none;
}

#page-wrapper #main-wrapper #main-content .page-title h1 b, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, #page-wrapper #main-wrapper .title h2, #page-wrapper #main-wrapper .title h3, a {
	color:#851a1a;
	text-decoration:none;outline:none;
}

.ui-sortable-placeholder {
	background:#ffffcc;
}

.ui-box-header, .ui-state-hover, .ui-box-header .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .pagination a:hover, a.btn:hover, button.ui-state-default:hover, #dashboard-buttons ul li:hover {
	border: 1px solid #9d9d9d;
	background:#F6F6F6 url(images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x;
	font-weight:bold;
	color:#333;
	outline:none;
}

.content-box-header {
	border: 1px solid #9d9d9d;
}

.content-box-header .ui-box-header, .content-box-header .other-box {
	border:0;
	border-bottom:#ccc solid 1px;
	margin:0;
}

.ui-state-hover a, .ui-state-hover a:hover {
	color:#222;
	text-decoration:none;
	outline:none;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	border:1px solid #ddd!important;
	background: #fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight:bold;
	color:#333;
	outline:none;
}

.ui-tabs-nav .ui-state-default, .ui-tabs-nav .ui-tabs-selected {
	border:0!important;
}

.ui-tabs-nav .ui-state-default a, .ui-tabs-nav .ui-tabs-selected a, .ui-accordion-header a, #sidebar .box h3, .hastable thead th, #dashboard-buttons ul li a, .ui-button, button.ui-state-default, input.ui-state-default, .hastable thead td, .ui-box-header {
	text-shadow:0 1px 0 #fff;
}

a:hover, .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color:#851A1A;
	outline:none;
	text-decoration:none;
}

	/* Header search */

#search-bar {
	position:relative;
}

#search-bar input {
	background:url('images/search_bar.png') no-repeat;
}

	/* SIDEBAR */
	
#page_wrapper #sidebar {
	right:20px;
}

#sidebar-left #page_wrapper #sidebar {
	left:8px;
	right:auto;
}

#sidebar-left #sidebar #open_sidebar {
	left:81px;
}

.closed-sidebar {
	width:0;
	margin-left:-58px;
}

	/* PAGE CONTENT */

#page_wrapper #page-content #page-content-wrapper, #live-search-results, .ui-dialog {
	background:#f2f2f2 url('images/page-container-bg.png') left top repeat-x;
}

#page_wrapper #page-content #page-content-wrapper {
	background:#f2f2f2 url('images/sidebar-bg.png') right top repeat-y;
}

#sidebar-left #page_wrapper #page-content #page-content-wrapper {
	background:#f2f2f2 url('images/sidebar-bg-left.png') left top repeat-y;
}

	/* Dashboard Buttons */

#dashboard-buttons ul li {
	border-color:#DCDFE3 #D0D4D8 #D0D4D8 #DCDFE3;
	border-style:solid;
	border-width:1px;
}

#dashboard-buttons ul li a {
	color:#666;
}

#dashboard-buttons ul li a:hover {
	border-color:#C3C9CE;
	color:#333;
}

#dashboard-buttons ul li a:active {
	border-color:#9D9D9D;
}


/*---------------------------------------------
************** дополнения ********************
----------------------------------------------*/

#tabs{
    padding: 10px;
}

li.buttons button{
    color: #82807e !important;
}

.toolbar{
    float: left;
    margin-left: -4px;
    padding-bottom: 4px;
}

.right{
    float: right;
}

p.left{
    padding: 0 0 0 4px;
    line-height: 32px;
    float: left;
}

span.fleft{
    display: block;
    float: left;
    margin-right: 6px;
    margin-top: -2px;
}


th .submit{
    margin: 0 auto;
 }
 td p{
     margin: 0;
     padding:0px;
     text-align:left;
     font-size:1em;
     color:#616161;
     
 }
 td p.tree{
     padding-left:20px;
     border:0px solid #000; 
     background:url(../../../images/table.png) left -30px no-repeat;
}

 td.rubrics p span.ui-icon{
     display: block;
     cursor: pointer;
     float: left;
     width: 20px;
     height: 20px;
 }
 
 td.menuplus p{
     padding-top: 4px;
 }
 
 tr.close{
     display: none;
 }
 
select.sm option, select.sm{
    width: 220px;
}

select.sm0, select.sm0 option{
    width: 274px;
}

select.big option{
    width: 324px;
}

.form{
    display: block;
    margin: 10px;
}

.form input{
    border:1px solid #ddd;
    background:#f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
    font-weight:bold;
    color:#851a1a;
    outline:none;
}    

.form input[type="submit"]:hover{
    color:#3e3e3e;
    cursor: pointer;
}

tr.dragRow, tr.dragRow td{
    background:#DCDFE3;
}
label.error{
    display: block;
}

.leftColumn2{
    display: block;
    float: left;
    width: 30%;
    border: 0px solid #000;
}

.leftColumn2 input[type="text"], .leftColumn2 input[type="password"], .leftColumn2 textarea, .leftColumn2 select, .leftColumn2 option{
    width: 94%;
}

.leftColumn2 .hasDatepicker{
    width: 88% !important;
} 

.rightColumn2 input[type="text"], .rightColumn2 input[type="password"], .rightColumn2 textarea , .rightColumn2 select, .rightColumn2 option{
    width: 98%;
}

.rightColumn2 .hasDatepicker{
    width: 94% !important;
} 


/*
.leftColumn2 ul{
    padding-right: 4px;
    border-right: 1px dashed #e4e4e4;
}
*/
.rightColumn2{
    display: block;
    float:right;
    width: 70%;
}

.photoPerson{
    display: block;
    margin: 10px 0 10px 40px;
    max-width: 150px;
}
.photoDel{
    margin-left: 30px;
}

.fileDel{
    margin-left: 0px;
}

.action2, .action2 span{
    margin: 0px 6px 6px 0 !important;
    padding-right: 0 6px 0 0 !important;
}


.type1{
    display: none;
}

.tablesorter-filter{
    width: 90% !important;
    font-size: 11px;
}

button.reset{
    display: block;
    float: right;
    padding: 2px;
    margin-top: 4px;
    font-size: 11px;
    height: 24px;
    line-height: 18px;
    cursor: pointer;
}

button span{
    display: block;
    float: left; 
    margin-right: 2px;
}


select.ui-datepicker-month option, select.ui-datepicker-year option, select.ui-datepicker-year option[selected="selected"]{
    font-size: 11px !important;
}

.ui-datepicker-header{
    font-size: 11px;
}
.ui-timepicker-div{
    font-size: 10px;
}

/*----- multy upload --------------*/
a.open {
  border:1px solid #ddd!important;
  background: #ddd url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight:bold;
  color:#333;
 
}

a.open .ui-icon {
	background-image: url(images/icons-gray.png);
}

.container-upload{
    display: none;
    margin: 0 0 10px 0;
    padding: 4px 0 0 136px;
    border:1px dotted #DCDFE3;
    background: #F9F9F9;
    min-height: 20px;
    max-height: 260px;
    overflow-y: scroll;
    
}

.open-div{
    display: block;
}
.butload{
    
}

/**** dialog - font ****/
.ui-dialog-content, .ui-dialog-content input, .ui-dialog-content option, input, textarea, select{
    font-family: "Times New Roman", Times;
}
input, textarea, option{
    font-size: 13px;
}
label.desc{ font-size: 13px;}
/*** dialog - font ***/

p.philter{
    display: block;
   /*float: left;*/
    margin: 0 10px 0 4px;
    font-weight:bold;
    color:#851a1a;
}

p.philter  select, p.philter option{
  /*color:#851a1a;   */
}

p.philterForm{
    margin-top: -14px;
    border: 0px solid #000;
}

form.philterForm span{
    padding-left: 14px;
    font-weight:bold;
    color:#851a1a !important;
}

form.philterForm{
    display:block;
    float:right;
    border: 0px solid #000;
     margin-bottom: 10px;
}

.philter_from, .philter_to{
    width: 70px;
    margin:0 2px 0 2px;
}
.philterBut{
    border: 1px solid #ccc;
    background: #F6F6F6;
}
.divInfo{
    padding: 4px 0 4px 2px;
}

.update{
        display: block;
        margin: 0;
        padding: 2px 4px 2px 4px;
        border:1px solid #ddd;
	background:#f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
	font-weight:bold;
	color:#851a1a;
	outline:none;
        font-size: 12px;
        line-height: 26px;
        height: 28px;
}

div.text{
    margin: 4px 0 0 0;
    font-size: 12px;
}

.bold{
    font-weight: bold;
}
.but1{
    margin: 0;
    padding: 0;
    height: 20px;
    line-height: 20px;
}
.but1 span.ui-icon{
    display: block;
    margin-top: 4px !important;
    border: 0px solid #000;
}

.listInformSender p{
    padding: 2px 0;
    font-size: 11px;
}

.listInformSender{
    padding: 4px;
    height: 500px;
    overflow: auto;
    border: 1px solid #ccc;
}

.philterLang{
    margin-right: 10px;
    margin-top: 5px;
}

.infoStatistic{
    border-collapse: collapse;
    border:1px solid #ccc;
    width: 100%;
}

.infoStatistic td, .infoStatistic th{
    padding:4px;
    font-size:11px;   
    border:1px solid #ccc;
    text-align: center;
} 
.infoStatistic th{
    font-weight: bold;
}
.infoStatistic th.l{
    text-align: left;
}

.toolbar .close{
    display: none;
}

form span.import{
    padding-left: 10px;
}
form span.close{
    display: none;
    
}

tr.preprint td, tr.preprint:hover td{
    background:#f78383 !important;
    color:#fff !important;
}
