#lightbox {
	/*background-color: #eee;
	padding: 10px;
        border-bottom: 1px solid #666;
	border-right: 1px solid #666;*/
        background: #fff;        
        padding: 0;
        margin-top: 12px;
        border:0px;
}
#lightboxCaption {
	color: #333;
	background-color: #eee;
	font-size: 90%;
	text-align: center;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#lightboxIndicator {
	/*border: 1px solid white;*/
        border:0px;
}
#lightboxOverallView,
#overlay {
	background-color: #000;
	opacity: 0.5;
}
* html #lightboxOverallView,
* html #overlay {
	background-color: #000;
	filter: Alpha(opacity=50);
}
